:root {
  --clr-nav: #2E323F;
  --clr-bg-dark: #3B4050;
  --clr-bg-light: #f1f1f1;
  --clr-text-default: #6F737F;
  --clr-text-dark: #E2E3E5;
  --clr-text-light: #FFFFFF;
  --clr-titles: #A59678;

  --fnt-oswald: 'Oswald', sans-serif;
  --fnt-montserrat: 'Montserrat', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fnt-montserrat);
  font-size: 1.5rem;
  color: var(--clr-text-default);
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--fnt-oswald);
  color: var(--clr-titles);
}

header {
  background-color: var(--clr-nav);
  text-align: center;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav {
  visibility: hidden;
  height: 0;
}

.visible {
  visibility: visible;
  height: auto;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--clr-bg-dark);
  color: var(--clr-text-light);
  transition: opacity 250ms ease;
  
  position: absolute;
  left: 0;
  top: -.5em
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  height: 30px;
  display: inline-block;
}

.nav__list {
  margin: 0;
  padding: 0;
  font-family: var(--fnt-oswald);
}

.nav__item {
  list-style: none;
  line-height: 2.5em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-text-dark);
}

.nav__link--btn {
  background-color: var(--clr-titles);
  color: var(--clr-text-light);
  border-radius: 10em;
  padding: .25em 1em;
}

.nav__link--btn:hover,
.nav__link--btn:focus {
  opacity: .8;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.hero {
  min-height: 100vh;
  padding-top: 5em;
  padding-bottom: 2em;
  background-color: var(--clr-bg-dark);
}

.hero__title {
  font-size: 4.5rem;
  line-height: 1em;
}

.hero__title span {
  color: var(--clr-text-light);
}

.hero__text {
  padding-bottom: .5em;
  padding-top: 1em;
  font-size: 1.5rem;
  color: var(--clr-text-dark);
}

.hero__btn {
  font-family: var(--fnt-oswald);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--clr-titles);
  color: var(--clr-text-light);
  border-radius: 10em;
  padding: .25em 1em;
}

.hero__btn:hover,
.hero__btn:focus {
  opacity: .8;
}

.primary_section {
  background-color: var(--clr-bg-light);
  padding: 1.5em 0;
}

.primary_section__topic {
  text-align: center;
}

.primary_section__topic .topic__title {
  font-size: 1.875rem;
}

.primary_section__topic .topic__text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.secondary_section {
  padding: 1.5em 0;
}

.secondary_section__title {
  font-size: 2.25rem;
}

.secondary_section__text {
  font-size: 1.3125rem;
}

.sidebar__item {
  background-color: var(--clr-bg-dark);
  padding: 1em;
  margin-top: 1em;
  text-align: center;
}

.sidebar__item--title,
.sidebar__item--text {
  color: var(--clr-text-light);
}

.sidebar__item--title {
  font-size: 1.875rem;
}
.sidebar__item--text {
  font-size: 1.125rem;
}

@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
  }

  .row, .nav, .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  * + .col {
    margin-left: 1em;
  }

  .nav__item + .nav__item,
  .nav__list + .nav__list,
  .sidebar__item + .sidebar__item {
    margin-left: .6em;
  }

  .secondary_section__sidebar sidebar {
    display: flex;
  } 
}

@media (min-width: 1000px) {
  .nav__item + .nav__item,
  .nav__list + .nav__list {
    margin-left: 1.5em;
  }

  .col {
    align-self: flex-end;
  }

  * + .col {
    margin-left: 2em;
  }

  .hero {
    padding-top: 6em;
  }

  .hero__title {
    font-size: 5.625rem;
  }

  .secondary_section .container {
    display: flex;
    justify-content: space-between;
  }

  .secondary_section__post {
    width: 60%;
  }

  .secondary_section__sidebar {
    /* margin-left: 4em; */
    width: 30%;
  }

  .secondary_section__sidebar sidebar {
    display: block;
  }

  .sidebar__item + .sidebar__item {
    margin-left: 0;
  }
}